@import "src/scss/variables.scss";
@import "src/scss/mixins.scss";

.aside{
    width: 200px;
    .item{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        color: $color5;
    }
}