@import "src/scss/variables.scss";
@import "src/scss/mixins.scss";

.main{
    padding: 20px 0;
    flex: auto;
    .container{
        @include cont-wrapp();
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        .content{
            margin-left: 20px;
            @include text();
            p{
                margin-top:0;
            }

        }
    }
}