@import "src/scss/variables.scss";
@import "src/scss/mixins.scss";

.main{
    padding: 20px 0;
    flex: auto;
    .container{
        @include cont-wrapp();
        .content{
            margin-left: 20px;
            @include text();
        }
    }
}