@import "src/scss/variables.scss";
@import "src/scss/mixins.scss";

.main{
    padding: 20px 0;
    flex: auto;
    .container{
        @include cont-wrapp();
        span{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 18px;
            color: $color5;
        }
        input{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 18px;
            color: $color1;
        }
    }
}