@import "src/scss/variables.scss";
@import "src/scss/mixins.scss";

.index-menu{
    a,
    &.singin,
    &.singup{
        @include text();
        color: $color2;
        text-decoration: none;
        margin: 0 10px; 
        @include transition(color, .3s, ease-in-out);
        &:hover{
            color: $color4; 
        }
        &.active{
            color: lighten($color4, 20%);
        }
    }
}