@import "src/scss/variables.scss";
@import "src/scss/mixins.scss";

.header{
    background: $color1;
    padding: 20px 0;
    grid-area: header;
    flex: 0 0 auto;
    .container{
        @include cont-wrapp();
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        strong{
            a{
                @include text();
                width: 55px;
                color: $color2;
                display: block;
                text-decoration: none;
                img{
                    max-width: 100%;
                }
            }
        }
        span{
            color: white;
            font-size: 18px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
    }
}