@import "src/scss/variables.scss";
@import "src/scss/mixins.scss";

.header{
    background: $color1;
    padding: 20px 0;
    grid-area: header;
    flex: 0 0 auto;
    .container{
        @include cont-wrapp();
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        strong{
            a{
                @include text();
                width: 55px;
                color: $color2;
                display: block;
                text-decoration: none;
                img{
                    max-width: 100%;
                }
            }
        }
        .user-prof{
            color: white;
            font-size: 18px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            position: relative;
            .user-menu{
                position: absolute;
                top: 100%;
                right: 0;
                width: 100%;
                background: $color3;
                padding: 5px;
                border-radius: 3px;
                li{
                    a,
                    button{
                        background: none;
                        border: none;
                        padding: 0;
                        display: block;
                        font-size: 18px;
                        cursor: pointer;
                        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                        color: $color1;
                        text-decoration: none;
                        margin-bottom: 10px;
                        @include transition(color, .3s, ease-in-out);
                        &:hover{
                            color: lighten($color1, 20%);
                        }
                    }
                }
            }
        }
    }
}