@import "src/scss/variables.scss";
@import "src/scss/mixins.scss";

.single-product{
    width: 500px;
    margin:  20px auto;
    padding: 20px;
    background: lighten($color2, 20%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    span{
        display: inline-block; 
        background: $color3;
        border-radius: 3px;
        font-size: 16px;
        line-height: 19px;
        padding: 5px;
        vertical-align: middle;
        color: $color1 !important;
        font-weight: normal;
    }
    .noValue{
        height: 19px;
    }
    .hasValue{
        height: auto;
    }
    input,
    textarea{
        display: inline-block; 
        background: $color3;
        border-radius: 3px;
        border: none;
        font-size: 16px;
        line-height: 19px;
        padding: 5px;
        color: $color1;
        box-sizing: border-box;
        height: auto;
        &:focus{
            outline: none;
        }
    }
    textarea{
       max-width: 100%;
       min-width: 100%;
    }
    .title{
        display: flex;
        flex-direction: row;
        span,
        input{
            width: 100%; 
            margin-left: 5px;
        }
    }
    .price{
        display: flex;
        flex-direction: row;
        span,
        input{
            width: 70px;
            margin-left: 5px;  
        }
        span{
            width: 60px;
        }
    }
    .description{
        span{
            width: 97%;
        }
        input,
        textarea{
            width: 100%;  
        }
    }
    input{
        &[type="submit"]{
            border: none;
            width: 100%;
            background: $color5;
            color: $color2;  
            cursor: pointer;
            padding: 10px;
            @include transition(background, 0.3s, ease-in-out);
            &:hover{
                background: $color1;
            }
        }
    }
}