@import "./scss/variables.scss";
@import "./scss/mixins.scss";
html{
    height: 100%; 
}
body{
    margin: 0;
    padding: 0;
    height: 100%;
    #app{
        display: flex;
        flex-direction: column;
        height: 100%;
        p, strong{
            margin-top:0;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
    }
}