@import "./scss/variables.scss";
@import "./scss/mixins.scss";
html{
    height: 100%; 
}
body{
    margin: 0;
    padding: 0;
    height: 100%;
    #app{
        display: flex;
        flex-direction: column;
        height: 100%;
        p, strong{
            margin-top:0;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
    }
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
input:-webkit-autofill, 
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  background-color: white !important;
  box-shadow:inset 0 0 0 1000px #fff;
}